.container__page {
  &--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h3 {
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.003em;
      color: #1d204f;
    }
    button {
      padding: 12px 20px;
    }
  }
}
